<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todos App</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css"
      integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/todos.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">ToDo's App</a>
        <div class="ml-auto">
          <form class="form-inline my-2 my-lg-0">
            <% if(typeof user=='undefined' ) {%>
            <a class="btn btn-outline-light my-2 my-sm-0 px-4" href="/login">
              Login
            </a>
            <a class="btn btn-light my-2 my-sm-0 mx-3 px-4" href="/signup">
              Signup
            </a>
            <%}else{ %>

            <a class="btn btn-danger my-2 my-sm-0 mx-3 px-4" href="/logout">
              Logout
            </a>
            <% } %>
          </form>
        </div>
      </nav>
      <p class="text-center text-light bg-secondary py-3">
        Welcome, <%=user.userName%> &nbsp; (<span title="Pending Task(s)"
          ><%= left %></span
        >)
      </p>
    </header>
  </body>
</html>
