<%- include ('./partials/header.ejs') %>
<main class="container my-4">
  <div class="card m-auto shadow-lg">
    <div class="card-wrapper">
      <div class="card-header">
        <h3>Signup</h3>
      </div>
      <div class="text-danger text-center text-small">
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => {
        %>
        <div class="text-danger text-center text small"><%= el.msg %></div>
        <% }) %> <% } %>
      </div>
      <div class="card-body">
        <form action="/signup" method="POST">
          <div class="form-group">
            <label for="userName">User Name</label>
            <input
              type="text"
              class="form-control"
              id="userName"
              name="userName"
              placeholder="Enter Your Full Name"
              autofocus
            />
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter Your Email"
              aria-describedby="emailHelp"
            />
            <small id="emailHelp" class="form-text text-muted">
              We'll never share your email with anyone else.
            </small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter Password"
            />
          </div>
          <div class="form-group">
            <label for="password">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm Password"
            />
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary w-75 py-2">
              Signup
            </button>
          </div>
        </form>
      </div>
      <p class="px-3 py-3">
        Already Have an Account ? <a href="/login">Login Here</a>
      </p>

      <div class="card-body">
        <!-- <form action="/signup" method="POST">
                    <input type="text" name="userName" placeholder="User Name" autofocus>
                    <input type="email" name="email" placeholder="Email">
                    <input type="password" name="password" placeholder="Password">
                    <input type="password" name="confirmPassword" placeholder="Confirm Password">
                    <input type="submit">
                </form> -->
      </div>
    </div>
  </div>
</main>
<%- include('./partials/footer.ejs') %>
